@media (min-width: 640px) {
  body {
    display: flex;
    justify-content: center;
  }
  .container-wrap {
    flex-basis: 70%;
  }
}

header {
  height: 100px;
  background-color: #d5dfe9;
  border-bottom: 2px solid #afb8c1;
}

.section-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
}

.nav-menu {
  flex: 1;
}

.media-wrap {
  flex: 3;
  display: flex;
}

.contact-block {
  height: 200px;
  background-color: #444040;
  margin-top: 4px;
}

footer {
  height: 50px;
  background-color: #d5dfe9;
  margin-top: 4px;
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  padding: 8px;
  margin: 2px;
  border: 1px solid #afb8c1;
  background-color: #f7f4f4;
}

.nav-menu li a {
  text-decoration: none;
  color: #07052c;
  font-size: 18px;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

.thumb-nail {
  flex: 1;
}

.active-media {
  flex: 3;
}
