* {
  font-family: "Roboto", "Arial", sans-serif;
}
@media (min-width: 640px) {
  body {
    display: flex;
    justify-content: center;
  }
  .container-wrap {
    flex-basis: 70%;
  }

  .media-wrap {
    flex: 4;
    display: flex;
    padding: 8px;
    gap: 4px;
  }
}

header {
  height: 100px;
  background-color: #d5dfe9;
  border-bottom: 2px solid #afb8c1;
}

.section-wrap {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu {
  flex: 1;
  margin-top: 8px;
}

.contact-block {
  height: 200px;
  background-color: #444040;
  margin-top: 4px;
}

footer {
  height: 50px;
  background-color: #d5dfe9;
  margin-top: 4px;
}

.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  padding: 8px;
  margin: 2px;
  border: 1px solid #afb8c1;
  background-color: #f7f4f4;
}

.nav-menu li a {
  text-decoration: none;
  color: #07052c;
  font-size: 18px;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

.thumb-nail {
  display: flex;
}

.active-media iframe {
  width: 100%;
  height: 315px;
}

.active-media {
  flex-basis: 560px;
}

.thumb-desc {
  padding-left: 4px;
}

.thumb-desc h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.thumb-desc p {
  color: #444040;
  font-weight: 500;
  margin: 0;
}
